# virtualfish
.venv

# python
__pycache__

# jupyter notebooks
.ipynb_checkpoints

# vim
.*swp
.*swo

# environment
.env

# coverage
.coverage
htmlcov

# ansible vault password
.vault_password

# pycharm
.idea

# deploy with remote staging for development
ansible/inventory/hosts.yml
