#!{{ python }}
import re
import os
import sys
# Add src directory to Python path for src layout
sys.path.insert(0, "{{ site_path }}/src")
from uvicorn.main import main
if __name__ == "__main__":
    os.chdir("{{ site_path }}")
    sys.argv[0] = re.sub(r'(-script\.pyw|\.exe)?$', '', sys.argv[0])
    sys.exit(main())
