# Contents of /etc/systemd/system/multi-user.target.wants/deploy.service
[Unit]
Description=Small Deploy Service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/deploy/site
User=deploy
ExecStart=/home/deploy/site/bin/deploy.py deploy.entrypoints.fastapi_app:app --port 9999 --host 127.0.0.1
KillMode=process

[Install]
WantedBy=multi-user.target
