SECRET_KEY={{ fastdeploy_secret_key }}
DATABASE_URL=sqlite:///databases/sqlite.db
API_URL=https://deploy.staging.wersdoerfer.de
SUDO_USER=root
SERVICES_ROOT=services
PATH_FOR_DEPLOY="{{ venv_bin }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
